<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer</title>
    <link rel="stylesheet" href="multiplayer_sessions.css">
  </head>
  <body> <!-- Added the class here -->
  <!-- Moving background -->
    <div class="background-container">
      <div class="background-scene"></div>
    </div>

    <!-- Title -->
    <div class="title">Join Active Sessions</div>


    <div class="new-game-container">
      <button class="button" id="newGameButton">New Game</button>
    </div>

    <script src="multiplayer_sessions.js"></script>
  </body>
</html>