<div class="tile">
  <% if tile[:occupant_avatar].present? %>
    <img src="<%= tile[:occupant_avatar] %>"
         alt="Character Avatar"
         class="tile-avatar"
      />
  <% else %>
    <span class="placeholder">No Avatar</span>
  <% end %>
</div>