<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'instructions', media: 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'instructions' %>
<% end %>

<div class="background-container">
  <div class="background-scene"></div>
</div>

<div class="title">How To Play</div>

<div class="instructions-content">
  <ol>
    <li>Begin by clicking into the starting tile.</li>
    <li>Talk to the NPC, who will then ask you a question.</li>
    <li>If you answer correctly, then you will gain shards. If you do not answer correctly, then shards will be taken away.</li>
    <li>After the task is completed, return to the map and use your earned shards to purchase an adjacent tile.</li>
  </ol>
</div>