<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'instructions', media: 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'instructions' %>
<% end %>

<div class="background-container">
  <div class="background-scene"></div>
</div>

<<div class="title">How To Play</div>>
<div class="instructions-content">
  <h2>Basics</h2>
  <ol>
    <li>Begin by clicking into the starting tile.</li>
    <li>Talk to the NPC, who will then ask you a question. You must answer the question correctly
        to gain shards. If you answer incorrectly, you lose shards.</li>
    <li>Use your Shards to purchase adjacent tiles.</li>
  </ol>
  <h2>How to earn Shards?</h2>
  <ol>
    <li>Complete tasks given by NPCs.</li>
    <li>Purchase Shards directly from the Shop.</li>
  </ol>
  <h2>How To Travel Between Squares?</h2>
  <ol>
    <li>Move to adjacent tiles for free.</li>
    <li>Pay additional Shards to "Fast Travel" between non-adjacent squares.</li>
  </ol>
  <h2>End Game</h2>
    <p>
      Once the entire grid is filled, the results screen will display which player claimed the most tiles and who earned the most shards. After viewing these results, you can reset the game and start again.
    </p>
</div>