<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="settings.css">
</head>
<body class="settings"> <!-- Added the class here -->
<!-- Moving background -->
<div class="background-container">
  <div class="background-scene"></div>
</div>
<div class="button-container">
</div>

<script src="settings.js"></script>
</body>
</html>