<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shards of the Grid - Main Menu</title>
  <link rel="stylesheet" href="main_menu.css">
</head>
<body class="main-menu"> <!-- Added the class here -->
<!-- Moving background -->
<div class="background-container">
  <div class="background-scene"></div>
</div>

<!-- Title -->
<div class="title">Shards of the Grid</div>

<!-- Buttons -->
<div class="button-container">
  <button class="button" id="playButton">Play</button>
  <button class="button" id="settingsButton">Settings</button>
  <%= button_to "Shop", shop_index_path, method: :get, class: "button"%>
</div>

<script src="main_menu.js"></script>
</body>
</html>
