<div class="mystery-box-container">
  <div class="top-navigation">
    <%= button_to "Return to Shop", shop_index_path, class: "btn return-btn", method: :get %>
    <div class="shard-balance-display">
      <p>Shard Balance: <%= current_user.shard_account.balance %> Shards</p>
    </div>

    <%= button_to "Go Somewhere", "#", class: "btn add-funds-btn", method: :get %>
  </div>
</div>