<div class="CharacterCreation">
  <div class="top-navigation">
    <%= button_to "Return to Inventory", inventory_path, class: "btn return-btn", method: :get %>


    <%= button_to "Go Somewhere", "#", class: "btn add-funds-btn", method: :get %>
  </div>
</div>