/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("shop.css");
@import url("main_menu.css");
@import url("mystery_boxes.css");
@import url("server.css");
@import url("sessions.css");
@import url("inventory.css");

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    animation: changeBackground 36s infinite;
}

@keyframes changeBackground {
    0% { background-image: url('/assets/scrolling_bg1.png'); }
    16.67% { background-image: url('/assets/scrolling_bg2.png'); }
    33.33% { background-image: url('/assets/scrolling_bg3.png'); }
    50% { background-image: url('/assets/scrolling_bg4.png'); }
    66.67% { background-image: url('/assets/scrolling_bg5.png'); }
    83.33% { background-image: url('/assets/scrolling_bg6.png'); }
    100% { background-image: url('/assets/scrolling_bg1.png'); }
}

.full-game-page-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/assets/scrolling_bg4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.full-shop-page-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/assets/shop_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-leaderboard-page-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/assets/scrolling_bg3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}