/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    background-color: white; /* Fallback background color */
}
/* Title */
.title {
    margin-top: 40px; /* Provide spacing from the New Game button */
    color: darkgreen;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 60px;
}
body.instructions .title{
    font-size: 6rem;
}

.go-back-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: darkgreen;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.go-back-link:hover{
    background: green;
}