.parent {
    text-align: center;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #e3f2fd, rgba(17, 83, 33, 0.64));
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Forgot Password Container */
.forgot-password-container {
    width: 400px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title */
.forgot-password-container .title {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
    text-align: center; /* Centers text inside the element */
    margin-bottom: 20px;
    text-shadow: none;
    display: block; /* Ensures it's treated as a block-level element */
}

/* Fields Container */
.forgot-password-container .fields-container {
    margin-top: 10px;
}

/* Field Styling */
.forgot-password-container .field {
    margin-bottom: 15px;
}

.forgot-password-container .field label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #555;
}

.forgot-password-container .input-field {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.forgot-password-container .input-field:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
}

.forgot-password-container .actions {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center; /* Center buttons horizontally */
}

/* Submit Button */
.forgot-password-container .button {
    width: 75%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
    justify-content: center;
}

.forgot-password-container .button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}