<!DOCTYPE html>
<html>
<head>
  <title>Shards Of The Grid - Login</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #F7f7f7;
    }
    .login-container{
        width: 300px;
        padding: 20px;
        text-align: center;
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    .title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
    }
    .input-field{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .input-field::placeholder{
        color: #aaa;
    }
    .button:hover{
        background-color: #e0ffe0;
    }
  </style>
</head>
<body>

  <div class="login-container">
    <div class="title">Sign in</div>
    <input type="text" class="input-field" placeholder="Email" />
    <input type="text" class="input-field", placeholder="Password" />
    <button class="button">Sign in</button>
    <button class="button">Create an Account</button>

  </div>
</body>
</html>
  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= csrf_meta_tags %>


<!--<p class="notice"><%#= flash[:notice] %></p>-->
<!--<p class="alert"><%#= flash[:alert] %></p>-->

<%# if user_signed_in? %>
  <%#= link_to "Log out", destroy_user_session_path, method: :delete %>
<%# else %>
<!--  <%#= link_to "Log in", new_user_session_path %> |-->
  <%#= link_to "Sign up", new_user_registration_path %>
<%# end %>

<%#= yield %>


